body {
    background-color: black;
    /* background-image: url(/src/img/background-img.png); */
    background-repeat: no-repeat;
    /* background-size: 100%; */
    font-family: "Inter", sans-serif;
}

/* nav bar */

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
  }

nav > h2 {
    font-size: 48px;
    font-weight: bolder;
}

.titulo{
    text-align: center;
}

h1, h2, h3, h4, p {
    color: white;
}

h4{
    font-weight: 1;
    font-size: 24px;
    padding-top: 124px;
}

h1 {
    font-size: 80px;
    padding-top: 25px;
}

p{
    font-weight: 300;
    font-size: 24px;
    padding-top: 24px;
}

.nav_text {
    color: white;
    font-size: 48px;
    text-decoration: none;
}

.sobre{
    padding: 50px;
    background-color: rgb(56, 56, 56, 0.5);
    border-radius: 50px;
    margin: 100px;
}

/* Estilos para telas menores que 768px */
@media screen and (max-width: 768px) {
    nav {
        padding-left: 30px;
        padding-right: 30px;
    }

    nav > h2 {
        font-size: 24px;
    }

    .titulo {
        padding: 20px;
    }

    h1 {
        font-size: 50px;
    }

    h4 {
        font-size: 18px;
        padding-top: 60px;
    }

    p {
        font-size: 18px;
        padding-top: 20px;
    }

    .sobre {
        margin: 50px;
        padding: 30px;
    }
}

/* Estilos para telas menores que 600px */
@media screen and (max-width: 600px) {
    nav {
        padding-top: 30px;
    }

    nav > h2 {
        font-size: 18px;
    }

    h1 {
        font-size: 40px;
    }

    h4 {
        font-size: 16px;
        padding-top: 40px;
    }

    p {
        font-size: 16px;
        padding-top: 20px;
    }

    .sobre {
        margin: 30px;
        padding: 20px;
    }
}
