@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

nav > h2 {
    font-size: 48px;
    font-weight: bolder;
}

body {
    background-color: black;
    background-image: url('/src/img/background-img.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, p {
    color: white;
}

h4 {
    font-weight: 1;
    font-size: 24px;
    padding-top: 124px;
}

h1 {
    font-size: 124px;
    padding-top: 25px;
}

p {
    font-weight: 300;
    font-size: 24px;
    padding-top: 24px;
}

.titulo {
    text-align: center;
}

.text-box {
    font-weight: 300;
    font-size: 24px;
    padding-top: 800px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
}

/* estilo do botão */
.bn5 {
  font-size: 24px;
  padding: 20px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 30px;
    text-align: center;
}
  
  .bn5:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );

    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 30px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .bn5:active {
    color: #000;
  }
  
  .bn5:active:after {
    background: transparent;
  }
  
  .bn5:hover:before {
    opacity: 1;
  }
  
  .bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #191919;
    border-radius: 30px;
  }

  .bn-title {
    top: 100%;
    left: 50%;
  }

  .buttons-container {
    display: flex;
    justify-content: center; /* Alinha os botões horizontalmente */
    margin-top: 20px; /* Espaçamento entre o .text-data e os botões */
    gap: 20px; /* Espaçamento entre os botões */
}

.buttons-container button {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #111;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 50px;
}

.text-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  width: 100%; /* Definindo a largura para preencher todo o espaço disponível */
  max-width: 800px; /* Limitando a largura máxima para evitar que o conteúdo se estenda demais */
  margin: 0 auto; /* Centralizando a div na horizontal */
  background-image: url(/src/img/Rectangle\ 1.png);
  background-repeat: no-repeat;
  border-radius: 30px;
}

input {
  width: 100%; /* Fazendo com que o input ocupe toda a largura da div */
  background-color: #383838;
  color: white;
  font-size: 24px;
  border-style: none;

  margin-top: 10px;
  margin-bottom: 10px;
}

.response {
  background-color: #383838;
  color: white;
  font-size: 24px;
  
  margin-top: 10px;
  margin-bottom: 10px;
}

.titulo p {
  font-size: 25px;
}

label {
    color: white;
    order: -1;
    font-size: 26px;
    font-family: "Inter", sans-serif; 
    font-size: 24px;
}

ul {
  margin-top: 50px;

}

li {
  list-style: none;
}

#pesquisar {
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
}

.nav_text {
  color: white;
  font-size: 48px;
  text-decoration: none;
}

h4 {
  font-weight: 1;
  text-align: center;
  font-size: 24px;
}

h1 {
  text-align: center;
  font-size: 148px;
  font-weight: bold;
  z-index: 1;
}

p {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Responsividade */
/* Estilos para telas maiores ou iguais a 1300px */
@media screen and (max-width: 1366px) {
  .text-data {
    margin-left: 300px;
    margin-right: 300px;
  }

  .bn-title{
    top: 125%;
    left: 50%;
  }

  .text-data {
    width: 700px;
    margin-left: 250px;
  }

  .response {
    width: 615px;
  }
}
/* Estilos para telas maiores ou iguais a 912px */
@media screen and (max-width: 912px) {
  p {
    font-size: 18px;
  }

  .bn-title{
    top: 150%;
    left: 50%;
  }

  .bn5 {
    padding: 0.6em 3em;
  }

  .text-data {
    width: 700px;
    margin-left: 50px;
  }

  input {
    width: 500px;;
    margin-top: 10px;
    font-size: 20px;
  }

  .text-box {
    font-size: 30px;
  }

  h1 {
    font-size: 120px;
  }

  .nav_text {
    font-size: 48px;
  }  

  .response {
    width: 515px;
    font-size: 24px;
  }
}
/* Estilos para telas maiores ou iguais a 768px */
@media screen and (max-width: 768px) {

  nav{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .nav_text {
    font-size: 30px;
  }

  nav > h2 {
    font-size: 10px;
    font-weight: bolder;
  }

  h4{
    font-weight: 1;
    font-size: 20px;
    padding-top: 80px;

  }

  h1 {
    font-size: 90px;
    padding-top: 25px;
  }

  p{
    font-weight: 300;
    font-size: 16px;
    padding-top: 30px; 
    padding-left: 30px; 
    padding-right: 30px; 
  }

  .bn-title{
    top: 50%;
    left: 50%;
  }

  .bn5 {
    padding: 0.4em 1.5em;
  }

  .text-box {
    font-weight: 300;
    font-size: 24px;
    padding-top: 300px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .text-data {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 200px;
    width: 600px;
    height: auto;
  }

  input {
    width: 450px;
    height: 20px;
    margin: 10px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
  }

  .buttons-container button {
    padding: 15px 20px;
    font-size: 25px;
  }

  .response {
    width: 475px;
    font-size: 24px;
  }
}
/* Estilos para telas menores que 600px */
@media screen and (max-width: 600px) {
  nav{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .nav_text {
    color: white;
    font-size: 24px;
    text-decoration: none;
  }

  nav > h2 {
    font-size: 10px;
    font-weight: bolder;
  }

  h4{
    font-weight: 1;
    font-size: 20px;
    padding-top: 80px;

  }

  h1 {
    font-size: 70px;
    padding-top: 25px;
  }

  p {
    font-weight: 300;
    font-size: 20px;
    padding-top: 24px;
    padding-left: 30px; 
    padding-right: 30px; 
  }

  .bn-title{
    top: 100%;
    left: 50%;
  }

  .bn5 {
    padding: 0.4em 1.5em;
  }

  .text-box {
    font-weight: 300;
    font-size: 24px;
    padding-top: 300px;
    margin-left: 50px;
    margin-right: 50px;
    
  }

  .text-data {
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 200px;
    width: 450px;
    height: auto;
  }

  input {
    width: 300px;
    height: 20px;
    margin: 10px;
    margin: 0;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #383838;
    color: white;
    font-size: 20px;
  }

  .buttons-container button {
    padding: 10px 12px;
    border-radius: 15px;
    font-size: 16px;
  }

  .response {
    width: 315px;
    font-size: 24px;
  }
}